# MAVEN #
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar

# GENERAL #
*.log
*.class
*.bak

# ECLIPSE #
*.prefs
.classpath
.project
.metadata

# INTELLIJ #
.idea
*.iml

# PACKAGE #
*.jar
*.war
*.ear
*.sha1
*.sha1
*.repositories


